@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi|Press+Start+2P|Bungee+Shade')

@import 'reset'
@import 'utilities'
@import 'animations'

body, html
  height: 100%
  width: 100%

  height: 100vh
  width: 100vw

  overflow: hidden

body
  //background: hsl(269, 38%, 31%)
  background: hsl(270, 45%, 30%)
  //+animation(body-glow ease 3s forwards infinite alternate)

.background-plate
  background: url('../img/festival.jpg')
  background-size: cover

  opacity: 0.2

  position: fixed

  height: 100%
  width: 100%

  height: 100vh
  width: 100vw

  z-index: -2

.background-nonsense
  font-family: 'Bungee Shade', cursive
  font-size: 48em

  position: fixed
  top: 0px
  left: 0px

  height: 100%
  width: 100%

  height: 100vh
  width: 100vw

  z-index: -1

  .nonsense
    display: block

    color: hsl(270, 75%, 12%)

    transform: rotateZ(-20deg)

    animation: nonsense-color-fade 5s forwards infinite alternate


.upper-section
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  height: 40%
  width: 100%

  height: 40vh
  width: 100vw

  .bar
    display: block
    border: 1px solid hsla(269, 29%, 44%, 1)
    box-shadow: 0px 3px 1px 3px rgba(0, 0, 0, 0.15)

    height: 100px
    width: 80%

    transform: rotateZ(-1deg)
    transform-style: preserve-3d
    transform-origin: center center
    perspective: 1000px

  .counter-container
    height: 150px
    width: 80%

    margin-top: -125px

  .counter
    display: inline-block
    color: hsl(61, 100%, 50%) // hsl(330, 75%, 49%)

    font-family: 'Baloo Thambi', cursive

    font-size: 3.8em

  .counter.increment
    animation-name: counter-increment
    animation-duration: 200ms
    animation-timing-function: ease

  .counter.finished
    +animation(counter-final 1s ease forwards)

  .fill
    background: hsl(166, 67%, 52%)
    background: -moz-linear-gradient(top, hsl(171,67%,52%) 1%, hsl(180,95%,45%) 100%)
    background: -webkit-linear-gradient(top, hsl(171,67%,52%) 1%, hsl(180, 95%, 45%) 100%)
    background: linear-gradient(to bottom, hsl(171,67%,52%) 1%, hsl(180, 95%, 45%) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33d6bd', endColorstr='#06dddd',GradientType=0 )

    display: block

    position: relative

    height: 100%
    width: 0%

    +box-shadow(0px 0px 10px hsla(180, 63%, 54%, 0.8))

    &.animate
      animation-name: grow-shrink, final-glow, final-pulse
      animation-delay: 0s, 2s, 1800ms
      animation-duration: 2s, 3s, 2000ms
      animation-fill-mode: forwards
      animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96), ease, ease-in-out


  .particle-container
    display: block

    position: absolute
    right: 0px

    height: 100%
    width: 1px

  .particle-x-container
    @extend .particle-container

    left: 0px
    top: 49px
    height: 1px
    width: 100%

  .particle
    background: rgba(200, 220, 255, 0.4)
    display: block

    position: absolute
    top: 0px
    right: 0px

    height: 4px
    width: 4px

    z-index: -1

    +box-shadow(1px 2px 10px rgba(255, 255, 255, 0.15))
    +border-radius(8px)

    &.hidden
      display: none

  .particle-x
    @extend .particle

    background: rgba(180, 200, 255, 0.6)

    height: 5px
    width: 5px

    z-index: -1

    +box-shadow(0px 0px 10px rgba(255, 255, 255, 0.35))
    +border-radius(10px)


.lower-section
  display: block
  //background: hsla(263, 73%, 23%, 1)
  height: 60%
  width: 100%

  height: 60vh
  width: 100vw

  .todo
    margin: 0 auto
    padding: 25px

    width: 80%

  .todo ul
    color: #ffffff

    font-family: "Press Start 2p"
    font-size: 3em
    font-weight: 600

    text-transform: uppercase

    line-height: 2.5em
    letter-spacing: 15px

    li
      opacity: 0
      visibility: hidden

      &.drop-in
        animation: task-drop-in 1s ease forwards

