@import 'reset'
@import 'fonts'
@import 'utilities'
@import 'animations'

body, html
  height: 100%
  width: 100%

  height: 100vh
  width: 100vw

  overflow: hidden

body
  display: flex
  background: hsl(270, 45%, 30%) //background: hsl(269, 38%, 31%)
  //+animation(body-glow ease 3s forwards infinite alternate)

canvas
  image-rendering: -moz-pixelated
  image-rendering: -o-pixelated
  image-rendering: -webkit-pixelated
  image-rendering: pixelated

.canvas-background
  position: absolute

  height: 100%
  width: 100%

  height: 100vh
  width: 100vw

  z-index: -2

.canvas-stars
  position: absolute

  height: 100%
  width: 100%

  height: 100vh
  width: 100vw

  z-index: -1

.container
  display: flex

.left
  display: flex
  align-items: center
  justify-content: center

  height: 100%
  width: 40%

  height: 100vh
  width: 40vw

.left .todo-box
  background: hsl(183, 16%, 28%) //hsl(183, 10%, 65%)
  overflow: hidden

  height: 2px
  width: 2px

  +border-radius(25px)

  animation-name: todo-crt-flash-in
  animation-delay: 500ms
  animation-duration: 400ms
  animation-fill-mode: forwards
  animation-timing-function: ease-in-out

.left .todo-box .upper-section
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  padding-top: 75px

  height: 40%
  width: 100%

  .bar
    display: block
    border: 1px solid hsla(269, 29%, 44%, 1)
    box-shadow: 0px 3px 1px 3px rgba(0, 0, 0, 0.15)

    height: 45px
    width: 80%

    transform: rotateZ(-1deg)
    transform-style: preserve-3d
    transform-origin: center center
    perspective: 1000px

  .counter-container
    height: 150px
    width: 80%

    margin-top: -125px

  .counter
    display: inline-block
    color: hsl(61, 100%, 50%) // hsl(330, 75%, 49%)

    font-family: 'Lady Radical', cursive
    text-shadow: 3px 4px hsla(0, 61%, 33%, 0.45)

    font-size: 3.8em

    position: relative

    -webkit-filter: none

  .counter.increment
    animation-name: counter-increment
    animation-duration: 200ms
    animation-timing-function: ease

  .counter.finished
    +animation(counter-final 1s ease forwards)

  .fill
    background: hsl(166, 67%, 52%)
    background: -moz-linear-gradient(top, hsl(171,67%,52%) 1%, hsl(180,95%,45%) 100%)
    background: -webkit-linear-gradient(top, hsl(171,67%,52%) 1%, hsl(180, 95%, 45%) 100%)
    background: linear-gradient(to bottom, hsl(171,67%,52%) 1%, hsl(180, 95%, 45%) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33d6bd', endColorstr='#06dddd',GradientType=0 )

    display: block

    position: relative

    height: 100%
    width: 0%

    +box-shadow(0px 0px 10px hsla(180, 63%, 54%, 0.8))

    &.animate
      animation-name: grow-shrink, final-glow, final-pulse
      animation-delay: 0s, 2s, 1800ms
      animation-duration: 2s, 3s, 2000ms
      animation-fill-mode: forwards
      animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96), ease, ease-in-out


  .particle-container
    display: block

    position: absolute
    right: 0px

    height: 100%
    width: 1px

  .particle-x-container
    @extend .particle-container

    left: 0px
    top: 49px
    height: 1px
    width: 100%

  .particle
    background: rgba(200, 220, 255, 0.4)
    display: block

    position: absolute
    top: 0px
    right: 0px

    height: 4px
    width: 4px

    z-index: -1

    +box-shadow(1px 2px 10px rgba(255, 255, 255, 0.15))
    +border-radius(8px)

    &.hidden
      display: none

  .particle-x
    @extend .particle

    background: rgba(180, 200, 255, 0.6)

    height: 5px
    width: 5px

    z-index: -1

    +box-shadow(0px 0px 10px rgba(255, 255, 255, 0.35))
    +border-radius(10px)


.left .todo-box .lower-section
  display: block
  height: 60%
  width: 100%

  .todo-container
    margin: 0 auto
    padding: 25px

    width: 80%

  ul.todo
    color: #ffffff

    font-family: "Press Start 2p"
    font-size: 0.8em
    font-weight: 600

    text-transform: uppercase

    line-height: 1.8em
    letter-spacing: 5px

    li
      opacity: 0
      visibility: hidden

      margin-bottom: 1em

      .task-name-upper, .task-name-lower, .task-name-shadow
        // The height of these must be half the height of the font-size.
        height: 0.9em

        position: relative

        overflow: hidden

      .task-name-lower, .task-name-shadow
        line-height: 0em
        transform-origin: 5% 50%

      .task-name-shadow
        color: hsl(182, 15%, 34%)

        top: -0.9em

        z-index: -1

      &.drop-in
        animation: task-drop-in 150ms ease forwards

      &.completed .task-name-upper:after
        content: ""
        background: hsl(143, 100%, 91%)
        display: block

        opacity: 0

        position: absolute
        bottom: 0px
        right: 0px

        height: 2px
        width: 2px

        animation-name: task-text-split
        animation-duration: 1500ms
        animation-fill-mode: forwards
        animation-timing-function: ease

      &.completed .task-name-upper
        animation-name: task-delay-color
        animation-duration: 1ms
        animation-fill-mode: forwards
        animation-delay: 1500ms

      &.completed .task-name-lower
        animation-name: task-drop-out
        animation-delay: 1500ms
        animation-duration: 1500ms
        animation-fill-mode: forwards
        animation-timing-function: ease

.right
  display: flex
  align-items: center
  justify-content: center

  height: 100%
  width: 60%

  height: 100vh
  width: 60vw

  .message
    padding: 1em

  .message .message-header

    font-family: "Lady Radical"
    font-size: 8em
    line-height: 1.2em

    // This provides our bitmap text gradient.
    span
      background: #ef2f2f

      background: -moz-linear-gradient(top, hsl(0,86%,56%) 0%, hsl(0,86%,56%) 5%, hsl(19,86%,56%) 5%, hsl(19,86%,56%) 19%, hsl(32,84%,55%) 19%, hsl(32,84%,55%) 36%, hsl(0,100%,95%) 36%, hsl(0,100%,95%) 94%, hsl(0,0%,100%) 94%)
      background: -webkit-linear-gradient(top, hsl(0,86%,56%) 0%, hsl(0,86%,56%) 5%, hsl(19,86%,56%) 5%, hsl(19,86%,56%) 19%, hsl(32,84%,55%) 19%, hsl(32,84%,55%) 36%, hsl(0,100%,95%) 36%, hsl(0,100%,95%) 94%, hsl(0,0%,100%) 94%)
      background: linear-gradient(to bottom, hsl(0,86%,56%) 0%, hsl(0,86%,56%) 5%, hsl(19,86%,56%) 5%, hsl(19,86%,56%) 19%, hsl(32,84%,55%) 19%, hsl(32,84%,55%) 36%, hsl(0,100%,95%) 36%, hsl(0,100%,95%) 94%, hsl(0,0%,100%) 94%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2f2f', endColorstr='#ffffff', GradientType=0 )

      -webkit-background-clip: text
      background-clip: text

      -webkit-text-fill-color: transparent
      text-fill-color: transparent

  .message .message-body
    color: #fff
    font-size: 2em
    font-family: "Press Start 2p"
    line-height: 1.8em
