/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Lady Radical";
  src: url("../fonts/lady_radical-webfont.woff2") format("woff2"), url("../fonts/lady_radical-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@-webkit-keyframes body-glow {
  0% {
    background: #4c2b8c; }
  100% {
    background: #4d2a6f; } }
@-moz-keyframes body-glow {
  0% {
    background: #4c2b8c; }
  100% {
    background: #4d2a6f; } }
@-ms-keyframes body-glow {
  0% {
    background: #4c2b8c; }
  100% {
    background: #4d2a6f; } }
@-o-keyframes body-glow {
  0% {
    background: #4c2b8c; }
  100% {
    background: #4d2a6f; } }
@keyframes body-glow {
  0% {
    background: #4c2b8c; }
  100% {
    background: #4d2a6f; } }
@-webkit-keyframes counter-increment {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  35% {
    transform: scale(1.05) rotateZ(-1deg);
    filter: brightness(185%); }
  50% {
    filter: brightness(100%) url(#aberration); }
  100% {
    transform: scale(1) rotateZ(0deg); } }
@-moz-keyframes counter-increment {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  35% {
    transform: scale(1.05) rotateZ(-1deg);
    filter: brightness(185%); }
  50% {
    filter: brightness(100%) url(#aberration); }
  100% {
    transform: scale(1) rotateZ(0deg); } }
@-ms-keyframes counter-increment {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  35% {
    transform: scale(1.05) rotateZ(-1deg);
    filter: brightness(185%); }
  50% {
    filter: brightness(100%) url(#aberration); }
  100% {
    transform: scale(1) rotateZ(0deg); } }
@-o-keyframes counter-increment {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  35% {
    transform: scale(1.05) rotateZ(-1deg);
    filter: brightness(185%); }
  50% {
    filter: brightness(100%) url(#aberration); }
  100% {
    transform: scale(1) rotateZ(0deg); } }
@keyframes counter-increment {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  35% {
    transform: scale(1.05) rotateZ(-1deg);
    filter: brightness(185%); }
  50% {
    filter: brightness(100%) url(#aberration); }
  100% {
    transform: scale(1) rotateZ(0deg); } }
@-webkit-keyframes counter-final {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  15% {
    transform: scale(0.95); }
  30% {
    filter: brightness(150%); }
  60% {
    filter: brightness(100%); }
  100% {
    transform: scale(1.05) rotateZ(-1deg); } }
@-moz-keyframes counter-final {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  15% {
    transform: scale(0.95); }
  30% {
    filter: brightness(150%); }
  60% {
    filter: brightness(100%); }
  100% {
    transform: scale(1.05) rotateZ(-1deg); } }
@-ms-keyframes counter-final {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  15% {
    transform: scale(0.95); }
  30% {
    filter: brightness(150%); }
  60% {
    filter: brightness(100%); }
  100% {
    transform: scale(1.05) rotateZ(-1deg); } }
@-o-keyframes counter-final {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  15% {
    transform: scale(0.95); }
  30% {
    filter: brightness(150%); }
  60% {
    filter: brightness(100%); }
  100% {
    transform: scale(1.05) rotateZ(-1deg); } }
@keyframes counter-final {
  0% {
    transform: scale(1) rotateZ(0deg);
    filter: brightness(100%); }
  15% {
    transform: scale(0.95); }
  30% {
    filter: brightness(150%); }
  60% {
    filter: brightness(100%); }
  100% {
    transform: scale(1.05) rotateZ(-1deg); } }
@-webkit-keyframes counter-final-loop {
  0% {
    transform: scale(1.1) rotateZ(1.5deg); }
  25% {
    transform: scale(1) rotateZ(0deg); }
  50% {
    transform: scale(1.1) rotateZ(-1.5deg); }
  75% {
    transform: scale(1) rotateZ(0deg); }
  100% {
    transform: scale(1.1) rotateZ(1.5deg); } }
@-moz-keyframes counter-final-loop {
  0% {
    transform: scale(1.1) rotateZ(1.5deg); }
  25% {
    transform: scale(1) rotateZ(0deg); }
  50% {
    transform: scale(1.1) rotateZ(-1.5deg); }
  75% {
    transform: scale(1) rotateZ(0deg); }
  100% {
    transform: scale(1.1) rotateZ(1.5deg); } }
@-ms-keyframes counter-final-loop {
  0% {
    transform: scale(1.1) rotateZ(1.5deg); }
  25% {
    transform: scale(1) rotateZ(0deg); }
  50% {
    transform: scale(1.1) rotateZ(-1.5deg); }
  75% {
    transform: scale(1) rotateZ(0deg); }
  100% {
    transform: scale(1.1) rotateZ(1.5deg); } }
@-o-keyframes counter-final-loop {
  0% {
    transform: scale(1.1) rotateZ(1.5deg); }
  25% {
    transform: scale(1) rotateZ(0deg); }
  50% {
    transform: scale(1.1) rotateZ(-1.5deg); }
  75% {
    transform: scale(1) rotateZ(0deg); }
  100% {
    transform: scale(1.1) rotateZ(1.5deg); } }
@keyframes counter-final-loop {
  0% {
    transform: scale(1.1) rotateZ(1.5deg); }
  25% {
    transform: scale(1) rotateZ(0deg); }
  50% {
    transform: scale(1.1) rotateZ(-1.5deg); }
  75% {
    transform: scale(1) rotateZ(0deg); }
  100% {
    transform: scale(1.1) rotateZ(1.5deg); } }
@-webkit-keyframes pulse-glow {
  0% {
    -webkit-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    -moz-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8); }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@-moz-keyframes pulse-glow {
  0% {
    -webkit-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    -moz-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8); }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@-ms-keyframes pulse-glow {
  0% {
    -webkit-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    -moz-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8); }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@-o-keyframes pulse-glow {
  0% {
    -webkit-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    -moz-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8); }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@keyframes pulse-glow {
  0% {
    -webkit-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    -moz-box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8);
    box-shadow: 0px 0px 5px rgba(64, 187, 212, 0.8); }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@-webkit-keyframes final-glow {
  0% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); }
  50% {
    -webkit-box-shadow: 0px 0px 15px #5aeded;
    -moz-box-shadow: 0px 0px 15px #5aeded;
    box-shadow: 0px 0px 15px #5aeded; }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@-moz-keyframes final-glow {
  0% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); }
  50% {
    -webkit-box-shadow: 0px 0px 15px #5aeded;
    -moz-box-shadow: 0px 0px 15px #5aeded;
    box-shadow: 0px 0px 15px #5aeded; }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@-ms-keyframes final-glow {
  0% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); }
  50% {
    -webkit-box-shadow: 0px 0px 15px #5aeded;
    -moz-box-shadow: 0px 0px 15px #5aeded;
    box-shadow: 0px 0px 15px #5aeded; }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@-o-keyframes final-glow {
  0% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); }
  50% {
    -webkit-box-shadow: 0px 0px 15px #5aeded;
    -moz-box-shadow: 0px 0px 15px #5aeded;
    box-shadow: 0px 0px 15px #5aeded; }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@keyframes final-glow {
  0% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); }
  50% {
    -webkit-box-shadow: 0px 0px 15px #5aeded;
    -moz-box-shadow: 0px 0px 15px #5aeded;
    box-shadow: 0px 0px 15px #5aeded; }
  100% {
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); } }
@-webkit-keyframes final-pulse {
  0% {
    filter: brightness(100%); }
  50% {
    filter: brightness(125%); }
  100% {
    filter: brightness(100%); } }
@-moz-keyframes final-pulse {
  0% {
    filter: brightness(100%); }
  50% {
    filter: brightness(125%); }
  100% {
    filter: brightness(100%); } }
@-ms-keyframes final-pulse {
  0% {
    filter: brightness(100%); }
  50% {
    filter: brightness(125%); }
  100% {
    filter: brightness(100%); } }
@-o-keyframes final-pulse {
  0% {
    filter: brightness(100%); }
  50% {
    filter: brightness(125%); }
  100% {
    filter: brightness(100%); } }
@keyframes final-pulse {
  0% {
    filter: brightness(100%); }
  50% {
    filter: brightness(125%); }
  100% {
    filter: brightness(100%); } }
@-webkit-keyframes grow-shrink {
  0% {
    width: 0%; }
  100% {
    width: 60%; } }
@-moz-keyframes grow-shrink {
  0% {
    width: 0%; }
  100% {
    width: 60%; } }
@-ms-keyframes grow-shrink {
  0% {
    width: 0%; }
  100% {
    width: 60%; } }
@-o-keyframes grow-shrink {
  0% {
    width: 0%; }
  100% {
    width: 60%; } }
@keyframes grow-shrink {
  0% {
    width: 0%; }
  100% {
    width: 60%; } }
@-webkit-keyframes nonsense-color-fade {
  0% {
    color: #1f0836; }
  50% {
    color: #360808; }
  100% {
    color: #1f0836; } }
@-moz-keyframes nonsense-color-fade {
  0% {
    color: #1f0836; }
  50% {
    color: #360808; }
  100% {
    color: #1f0836; } }
@-ms-keyframes nonsense-color-fade {
  0% {
    color: #1f0836; }
  50% {
    color: #360808; }
  100% {
    color: #1f0836; } }
@-o-keyframes nonsense-color-fade {
  0% {
    color: #1f0836; }
  50% {
    color: #360808; }
  100% {
    color: #1f0836; } }
@keyframes nonsense-color-fade {
  0% {
    color: #1f0836; }
  50% {
    color: #360808; }
  100% {
    color: #1f0836; } }
@-webkit-keyframes task-delay-color {
  0% {
    color: #fff; }
  100% {
    color: #668485; } }
@-moz-keyframes task-delay-color {
  0% {
    color: #fff; }
  100% {
    color: #668485; } }
@-ms-keyframes task-delay-color {
  0% {
    color: #fff; }
  100% {
    color: #668485; } }
@-o-keyframes task-delay-color {
  0% {
    color: #fff; }
  100% {
    color: #668485; } }
@keyframes task-delay-color {
  0% {
    color: #fff; }
  100% {
    color: #668485; } }
@-webkit-keyframes task-drop-in {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    visibility: visible; }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible; } }
@-moz-keyframes task-drop-in {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    visibility: visible; }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible; } }
@-ms-keyframes task-drop-in {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    visibility: visible; }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible; } }
@-o-keyframes task-drop-in {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    visibility: visible; }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible; } }
@keyframes task-drop-in {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    visibility: visible; }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible; } }
@-webkit-keyframes task-drop-out {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0px);
    visibility: visible; }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(50px);
    visibility: hidden; } }
@-moz-keyframes task-drop-out {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0px);
    visibility: visible; }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(50px);
    visibility: hidden; } }
@-ms-keyframes task-drop-out {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0px);
    visibility: visible; }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(50px);
    visibility: hidden; } }
@-o-keyframes task-drop-out {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0px);
    visibility: visible; }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(50px);
    visibility: hidden; } }
@keyframes task-drop-out {
  0% {
    opacity: 1;
    transform: rotate(0deg) translateY(0px);
    visibility: visible; }
  100% {
    opacity: 0;
    transform: rotate(30deg) translateY(50px);
    visibility: hidden; } }
@-webkit-keyframes task-text-split {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    filter: brightness(100%);
    height: 2px; }
  30% {
    filter: brightness(800%);
    height: 8px; }
  50% {
    filter: brightness(100%);
    opacity: 0.7;
    height: 1px;
    width: 8px; }
  70% {
    right: 0%; }
  90% {
    opacity: 0.7; }
  100% {
    opacity: 0;
    width: 4px;
    right: 100%; } }
@-moz-keyframes task-text-split {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    filter: brightness(100%);
    height: 2px; }
  30% {
    filter: brightness(800%);
    height: 8px; }
  50% {
    filter: brightness(100%);
    opacity: 0.7;
    height: 1px;
    width: 8px; }
  70% {
    right: 0%; }
  90% {
    opacity: 0.7; }
  100% {
    opacity: 0;
    width: 4px;
    right: 100%; } }
@-ms-keyframes task-text-split {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    filter: brightness(100%);
    height: 2px; }
  30% {
    filter: brightness(800%);
    height: 8px; }
  50% {
    filter: brightness(100%);
    opacity: 0.7;
    height: 1px;
    width: 8px; }
  70% {
    right: 0%; }
  90% {
    opacity: 0.7; }
  100% {
    opacity: 0;
    width: 4px;
    right: 100%; } }
@-o-keyframes task-text-split {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    filter: brightness(100%);
    height: 2px; }
  30% {
    filter: brightness(800%);
    height: 8px; }
  50% {
    filter: brightness(100%);
    opacity: 0.7;
    height: 1px;
    width: 8px; }
  70% {
    right: 0%; }
  90% {
    opacity: 0.7; }
  100% {
    opacity: 0;
    width: 4px;
    right: 100%; } }
@keyframes task-text-split {
  0% {
    opacity: 0; }
  10% {
    opacity: 1; }
  20% {
    filter: brightness(100%);
    height: 2px; }
  30% {
    filter: brightness(800%);
    height: 8px; }
  50% {
    filter: brightness(100%);
    opacity: 0.7;
    height: 1px;
    width: 8px; }
  70% {
    right: 0%; }
  90% {
    opacity: 0.7; }
  100% {
    opacity: 0;
    width: 4px;
    right: 100%; } }
@-webkit-keyframes todo-crt-flash-in {
  0% {
    filter: brightness(800%);
    height: 2px;
    width: 2px; }
  10% {
    filter: brightness(1000%); }
  80% {
    height: 2px;
    width: 450px; }
  100% {
    filter: brightness(100%);
    height: 800px;
    width: 450px;
    overflow: visible; } }
@-moz-keyframes todo-crt-flash-in {
  0% {
    filter: brightness(800%);
    height: 2px;
    width: 2px; }
  10% {
    filter: brightness(1000%); }
  80% {
    height: 2px;
    width: 450px; }
  100% {
    filter: brightness(100%);
    height: 800px;
    width: 450px;
    overflow: visible; } }
@-ms-keyframes todo-crt-flash-in {
  0% {
    filter: brightness(800%);
    height: 2px;
    width: 2px; }
  10% {
    filter: brightness(1000%); }
  80% {
    height: 2px;
    width: 450px; }
  100% {
    filter: brightness(100%);
    height: 800px;
    width: 450px;
    overflow: visible; } }
@-o-keyframes todo-crt-flash-in {
  0% {
    filter: brightness(800%);
    height: 2px;
    width: 2px; }
  10% {
    filter: brightness(1000%); }
  80% {
    height: 2px;
    width: 450px; }
  100% {
    filter: brightness(100%);
    height: 800px;
    width: 450px;
    overflow: visible; } }
@keyframes todo-crt-flash-in {
  0% {
    filter: brightness(800%);
    height: 2px;
    width: 2px; }
  10% {
    filter: brightness(1000%); }
  80% {
    height: 2px;
    width: 450px; }
  100% {
    filter: brightness(100%);
    height: 800px;
    width: 450px;
    overflow: visible; } }
body, html {
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  overflow: hidden; }

body {
  display: flex;
  background: #4d2a6f; }

canvas {
  image-rendering: -moz-pixelated;
  image-rendering: -o-pixelated;
  image-rendering: -webkit-pixelated;
  image-rendering: pixelated; }

.canvas-background {
  position: absolute;
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  z-index: -2; }

.canvas-stars {
  position: absolute;
  height: 100%;
  width: 100%;
  height: 100vh;
  width: 100vw;
  z-index: -1; }

.container {
  display: flex; }

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 40%;
  height: 100vh;
  width: 40vw; }

.left .todo-box {
  background: #3c5253;
  overflow: hidden;
  height: 2px;
  width: 2px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background-clip: padding-box;
  animation-name: todo-crt-flash-in;
  animation-delay: 500ms;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out; }

.left .todo-box .upper-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 75px;
  height: 40%;
  width: 100%; }
  .left .todo-box .upper-section .bar {
    display: block;
    border: 1px solid #6f5091;
    box-shadow: 0px 3px 1px 3px rgba(0, 0, 0, 0.15);
    height: 45px;
    width: 80%;
    transform: rotateZ(-1deg);
    transform-style: preserve-3d;
    transform-origin: center center;
    perspective: 1000px; }
  .left .todo-box .upper-section .counter-container {
    height: 150px;
    width: 80%;
    margin-top: -125px; }
  .left .todo-box .upper-section .counter {
    display: inline-block;
    color: #fbff00;
    font-family: "Lady Radical", cursive;
    text-shadow: 3px 4px rgba(135, 33, 33, 0.45);
    font-size: 3.8em;
    position: relative;
    -webkit-filter: none; }
  .left .todo-box .upper-section .counter.increment {
    animation-name: counter-increment;
    animation-duration: 200ms;
    animation-timing-function: ease; }
  .left .todo-box .upper-section .counter.finished {
    -webkit-animation: counter-final 1s ease forwards;
    -moz-animation: counter-final 1s ease forwards;
    -ms-animation: counter-final 1s ease forwards;
    -o-animation: counter-final 1s ease forwards;
    animation: counter-final 1s ease forwards; }
  .left .todo-box .upper-section .fill {
    background: #33d7b0;
    background: -moz-linear-gradient(top, #33d7be 1%, #06e0e0 100%);
    background: -webkit-linear-gradient(top, #33d7be 1%, #06e0e0 100%);
    background: linear-gradient(to bottom, #33d7be 1%, #06e0e0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33d6bd', endColorstr='#06dddd',GradientType=0 );
    display: block;
    position: relative;
    height: 100%;
    width: 0%;
    -webkit-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    -moz-box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8);
    box-shadow: 0px 0px 10px rgba(64, 212, 212, 0.8); }
    .left .todo-box .upper-section .fill.animate {
      animation-name: grow-shrink, final-glow, final-pulse;
      animation-delay: 0s, 2s, 1800ms;
      animation-duration: 2s, 3s, 2000ms;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96), ease, ease-in-out; }
  .left .todo-box .upper-section .particle-container, .left .todo-box .upper-section .particle-x-container {
    display: block;
    position: absolute;
    right: 0px;
    height: 100%;
    width: 1px; }
  .left .todo-box .upper-section .particle-x-container {
    left: 0px;
    top: 49px;
    height: 1px;
    width: 100%; }
  .left .todo-box .upper-section .particle, .left .todo-box .upper-section .particle-x {
    background: rgba(200, 220, 255, 0.4);
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 4px;
    width: 4px;
    z-index: -1;
    -webkit-box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.15);
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.15);
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background-clip: padding-box; }
    .left .todo-box .upper-section .particle.hidden, .left .todo-box .upper-section .hidden.particle-x {
      display: none; }
  .left .todo-box .upper-section .particle-x {
    background: rgba(180, 200, 255, 0.6);
    height: 5px;
    width: 5px;
    z-index: -1;
    -webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-clip: padding-box; }

.left .todo-box .lower-section {
  display: block;
  height: 60%;
  width: 100%; }
  .left .todo-box .lower-section .todo-container {
    margin: 0 auto;
    padding: 25px;
    width: 80%; }
  .left .todo-box .lower-section ul.todo {
    color: #ffffff;
    font-family: "Press Start 2p";
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 5px; }
    .left .todo-box .lower-section ul.todo li {
      opacity: 0;
      visibility: hidden;
      margin-bottom: 1em; }
      .left .todo-box .lower-section ul.todo li .task-name-upper, .left .todo-box .lower-section ul.todo li .task-name-lower, .left .todo-box .lower-section ul.todo li .task-name-shadow {
        height: 0.9em;
        position: relative;
        overflow: hidden; }
      .left .todo-box .lower-section ul.todo li .task-name-lower, .left .todo-box .lower-section ul.todo li .task-name-shadow {
        line-height: 0em;
        transform-origin: 5% 50%; }
      .left .todo-box .lower-section ul.todo li .task-name-shadow {
        color: #4a6364;
        top: -0.9em;
        z-index: -1; }
      .left .todo-box .lower-section ul.todo li.drop-in {
        animation: task-drop-in 150ms ease forwards; }
      .left .todo-box .lower-section ul.todo li.completed .task-name-upper:after {
        content: "";
        background: #d1ffe3;
        display: block;
        opacity: 0;
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 2px;
        width: 2px;
        animation-name: task-text-split;
        animation-duration: 1500ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease; }
      .left .todo-box .lower-section ul.todo li.completed .task-name-upper {
        animation-name: task-delay-color;
        animation-duration: 1ms;
        animation-fill-mode: forwards;
        animation-delay: 1500ms; }
      .left .todo-box .lower-section ul.todo li.completed .task-name-lower {
        animation-name: task-drop-out;
        animation-delay: 1500ms;
        animation-duration: 1500ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease; }

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 60%;
  height: 100vh;
  width: 60vw; }
  .right .message {
    padding: 1em; }
  .right .message .message-header {
    font-family: "Lady Radical";
    font-size: 8em;
    line-height: 1.2em; }
    .right .message .message-header span {
      background: #ef2f2f;
      background: -moz-linear-gradient(top, #ef2e2e 0%, #ef2e2e 5%, #ef6b2e 5%, #ef6b2e 19%, #ed932c 19%, #ed932c 36%, #ffe6e6 36%, #ffe6e6 94%, white 94%);
      background: -webkit-linear-gradient(top, #ef2e2e 0%, #ef2e2e 5%, #ef6b2e 5%, #ef6b2e 19%, #ed932c 19%, #ed932c 36%, #ffe6e6 36%, #ffe6e6 94%, white 94%);
      background: linear-gradient(to bottom, #ef2e2e 0%, #ef2e2e 5%, #ef6b2e 5%, #ef6b2e 19%, #ed932c 19%, #ed932c 36%, #ffe6e6 36%, #ffe6e6 94%, white 94%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2f2f', endColorstr='#ffffff', GradientType=0 );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent; }
  .right .message .message-body {
    color: #fff;
    font-size: 2em;
    font-family: "Press Start 2p";
    line-height: 1.8em; }

/*# sourceMappingURL=style.css.map */
